.homepage-header-carbon {
	background: linear-gradient(to bottom, #e63946 30%, transparent) !important;
	background-clip: text !important;
	color: transparent !important;
}

.homepage-header-typst {
	background: linear-gradient(to bottom, #c1121f 30%, transparent) !important;
	background-clip: text !important;
	color: transparent !important;
}

.homepage-header-blog {
	color: #660874 !important;
}